.container {
  border-radius: 0.5rem;
  padding: 0.5rem;
  width: 100%;
}

.container h2,
.company-and-city {
  margin-bottom: 0.5rem;
}

.job-description {
  color: rgb(197, 197, 197);
  text-align: justify;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}
