.main {
  width: 90%;
  display: flex;
}

.left {
  flex: 4;
}

.mid {
  flex: 10;
}

/* .right {
  flex: 2;
} */

@media only screen and (max-width: 1000px) {
  .main {
    width: 100%;
    padding: 1rem;
  }
  .mid {
    flex: 100%;
  }
  .left {
    flex: 0;
  }
  .right {
    flex: 0;
  }
}
