.container {
  width: 100%;
  margin-bottom: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.container h2 {
  margin-right: 2rem;
}

.container ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.container ul li {
  padding: 0.3rem 0.8rem;
  cursor: pointer;
  background-color: rgb(143, 140, 249);
  margin-right: 1rem;
  margin-bottom: 0.3rem;
  color: black;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 0.5rem;
}

.container ul li:hover {
  background: linear-gradient(
    35deg,
    rgb(143, 140, 249) 0%,
    rgba(255, 133, 189, 1) 100%
  );
}
