.menu {
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 5;
  border-radius: 0 0 50rem 0;
  animation: slide-down 0.5s;
  animation-fill-mode: forwards;
}

@keyframes slide-down {
  from {
    width: 0;
    height: 0;
  }
  to {
    width: 130%;
    height: 130%;
  }
}
