.wrapper {
  margin-bottom: 8rem;
}

.navbar {
  display: flex;
  align-items: center;
  padding: 1rem 4rem;
  color: white;
  height: 4.5rem;
  background-color: rgb(34, 36, 38);
  width: 100%;
  top: 0;
  z-index: 5;
  opacity: 96%;
  position: fixed;
}

.left-nav {
  flex: 4;
  cursor: pointer;
}
.left-nav a {
  color: white;
}
.left-nav img {
  width: 170px;
  margin-left: 2rem;
}
.search-container {
  flex: 6;
}

.right-nav {
  display: flex;
  justify-content: flex-end;
  flex: 4;
}

.logo {
  text-decoration: none;
  color: black;
  font-size: 2rem;
  font-weight: bolder;
}

@media only screen and (max-width: 1000px) {
  .left-nav img {
    display: none;
    flex: 20%;
  }
  .search-container {
    flex: 80%;
  }
  .right-nav {
    display: none;
    flex: 0;
  }
  .admin {
    display: none;
  }
  .navbar {
    padding: 1rem 1rem;
  }
  .wrapper {
    margin-bottom: 5rem;
  }
}
