.search {
  align-items: center;
  background-color: rgb(48, 48, 48);
  border-radius: 1rem;
  padding: 0.4rem 1rem;
}

.search img {
  width: 45px;
  margin-right: 1.2rem;
}
.search ::placeholder {
  color: rgb(195, 195, 195);
}
.search input {
  background-color: rgb(48, 48, 48);
  border: none;
  font-size: 2rem;
  color: white;
  width: 90%;
}

.search input:focus {
  outline: none;
}

@media only screen and (max-width: 1000px) {
  .search img {
    width: 35px;
  }

  .search input {
    font-size: 1.3rem;
  }
}
