.search {
  align-items: center;
  background-color: rgb(48, 48, 48);
  border-radius: 1rem;
  padding: 0.4rem 1rem;
}

.search img {
  width: 50px;
  margin-right: 1.2rem;
}
.search ::placeholder {
  color: rgb(195, 195, 195);
}
.search input {
  background-color: rgb(48, 48, 48);
  border: none;
  font-size: 2rem;
  color: white;
}

.search input:focus {
  outline: none;
}
