.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.status {
  display: flex;
  align-items: center;
}

.status-buble {
  width: 17px;
  height: 17px;
  border-radius: 50%;
  margin-right: 0.5rem;
}

.container button {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.7rem;
  font-weight: bold;
  cursor: pointer;
}

.info {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.5rem;
  height: 1.5rem;
  border: 1px solid white;
  text-align: center;
  border-radius: 50%;
  margin-left: 1.5rem;
  cursor: pointer;
}
.info h5 {
  font-size: 1.5rem;
}

.info p {
  position: absolute;
  bottom: 2rem;
  width: 20rem;
  background-color: rgb(151, 167, 244);
  padding: 1rem;
  border-radius: 1rem;
  color: black;
}

@media only screen and (max-width: 1020px) {
  .info h5 {
    font-size: 1.3rem;
  }
  .info {
    display: none;
  }
}
