.jobview {
  margin-top: 3rem;
  padding: 2rem;
  display: flex;
  justify-content: space-around;
}

.jobview-container {
  flex: 1;
}

.job-selected {
  width: 70%;
}

.other-jobs-message {
  margin-bottom: 2rem;
}

.informations-container {
  width: 370px;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.find-location {
  padding: 1rem;
  font-size: 1.5rem;
  background-color: aqua;
  font-weight: bold;
  border-radius: 0.5rem;
  border: none;
  width: 60%;
  margin: 0 auto;
  margin-bottom: 1rem;
  cursor: pointer;
}

@media only screen and (max-width: 1020px) {
  .jobview {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
  }

  .job-selected {
    width: 100%;
  }

  .informations-container {
    margin: 3rem auto;
    width: 100%;
  }
}
