.container {
  background-color: rgb(35, 37, 40);
  border-radius: 0.5rem;
  padding: 1rem;
  margin-bottom: 2rem;
  height: auto;
}

.topbar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
  border-bottom: 1px solid rgb(99, 99, 99);
}

.topbar img {
  width: 35px;
  background-color: rgb(108, 203, 229);
  border-radius: 0.2rem;
  cursor: pointer;
}

.topbar img:hover {
  background-color: rgb(28, 176, 217);
}
