* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Roboto", BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(65, 72, 74, 0.95);
  color: white;
}

@media only screen and (max-width: 1020px) {
  *::-webkit-scrollbar {
    width: 0.5rem;
  }

  *::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
    border-radius: 0.5rem;
  }
}

/* body,
html {
  overflow-x: hidden;
} */
/* 
THIS MUST BE USED TO WORK 'OVERFLOW-X HIDDEN' AND RESOLVE A BUG WITCH COULD NOT LET HTML 
TAG TO OCUPPY THE ENTIRE WIDTH */

#root {
  position: absolute;
  width: 100%;
  overflow-x: hidden;
}

/* 
^^^^^^^^^^^^^^^^^^^^^^^^
THIS MUST BE USED TO WORK 'OVERFLOW-X HIDDEN' AND RESOLVE A BUG WITCH COULD NOT LET HTML 
TAG TO CUPPY THE ENTIRE WIDTH */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
