.input-container {
  display: flex;
  align-items: center;
}

.input-container input {
  appearance: none;
  height: 2rem;
  width: 2rem;
  border: none;
  background-color: rgb(34, 36, 38);
  margin-right: 2rem;
  margin-bottom: 0.3rem;
  margin-top: 0.3rem;
  border-radius: 0.2rem;
  cursor: pointer;
}

.input-container input:hover {
  background-color: rgb(32, 209, 150);
}
.input-container input:checked {
  background-color: rgb(32, 209, 150);
}

.input-container label {
  font-size: 1.5rem;
}
