.input-container {
  display: flex;
  align-items: center;
  position: relative;
}

.input-container input {
  appearance: none;
  height: 1.5rem;
  width: 1.5rem;
  border: none;
  background-color: rgb(34, 36, 38);
  margin-right: 1.5rem;
  margin-bottom: 0.3rem;
  margin-top: 0.3rem;
  border-radius: 0.2rem;
  cursor: pointer;
}

.checkboxImg {
  position: absolute;
  pointer-events: none;
  width: auto;
  color: black;
}
/* .checkboxImg svg {
  animation: pop-in 0.8s;
  animation-fill-mode: forwards;
}
@keyframes pop-in {
  from {
    transform: rotateX(100deg);
  }
  to {
    transform: rotateX(0deg);
  }
} */

.input-container input:hover {
  background-color: rgb(153, 150, 252);
}
.input-container input:checked {
  background-color: rgb(153, 150, 252);
}

.input-container label {
  font-size: 1.2rem;
}
