.item {
  color: white;
  border: 1px solid transparent;
  border-radius: 0.5rem;
  margin: 0 auto;
  margin-bottom: 3rem;
  padding: 1rem;
  background-color: rgb(34, 36, 38);
  -webkit-box-shadow: 5px 4px 20px -1px rgba(0, 0, 0, 0.9);
  box-shadow: 5px 4px 20px -1px rgba(0, 0, 0, 0.9);
  position: relative;
}

.item:hover {
  border: 1px solid rgb(83, 77, 246);
}
.job-title {
  display: flex;
  align-items: center;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.7rem;
}
.job-title img {
  width: 25px;
  margin-left: 1rem;
}

.title-and-informations-container {
  display: flex;
  justify-content: space-between;
}
.job-description {
  margin-bottom: 2rem;
}

.job-description h1 {
  margin-bottom: 2rem;
}

.job-description.long {
  white-space: pre-line;
}
.employer {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.topEmployer {
  margin-left: 2rem;
  background-color: rgb(244, 244, 26);
  padding: 0.5rem;
  font-size: 0.6rem;
  font-weight: bold;
  border-radius: 0.7rem;
  cursor: pointer;
}

.topEmployer a {
  text-decoration: none;
  color: black;
}

.apply-button {
  padding: 1rem 2rem;
  border-radius: 0.1rem;
  border: none;
  font-size: 1.2rem;
  font-weight: bold;
  /* background-color: rgb(32, 209, 150); */
  background-color: transparent;
  border: 2.5px solid rgb(83, 77, 246);
  cursor: pointer;
  text-align: right;
  color: white;
}

.apply-button:hover {
  background-color: rgb(83, 77, 246);
}

.skill-level {
  display: flex;
  margin: 1rem 0;
}

.skill-level.long {
  justify-content: center;
  background-color: rgb(183, 197, 255);
  border-radius: 1rem;
  padding: 0.2rem;
  font-weight: bold;
  width: 67%;
  color: black;
}

.skill {
  font-size: 0.9rem;
  margin-right: 0.5rem;
}

@media only screen and (max-width: 1020px) {
  .apply-button {
    font-size: 0.8rem;
    width: 60%;
    text-align: center;
  }

  .apply {
    text-align: center;
  }

  .apply-button:active {
    background-color: rgb(83, 77, 246);
  }

  .apply-button:focus {
    background-color: rgb(83, 77, 246);
  }

  .employer {
    font-size: 1rem;
  }
  .job-title {
    font-size: 1.2rem;
  }

  .skill {
    font-size: 0.7rem;
  }
}
