.item {
  color: white;
  border: 0.5px solid rgb(31, 31, 31);
  border-radius: 0.5rem;
  margin: 0 auto;
  margin-bottom: 3rem;
  padding: 1rem;
  background-color: rgb(34, 36, 38);
  -webkit-box-shadow: 5px 4px 20px -1px rgba(0, 0, 0, 0.9);
  box-shadow: 5px 4px 20px -1px rgba(0, 0, 0, 0.9);
  position: relative;
}

.job-title {
  color: white;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 0.7rem;
}

.title-and-informations-container {
  display: flex;
  justify-content: space-between;
}
.job-description {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.job-description h1 {
  margin-bottom: 2rem;
}

.job-description.long {
  white-space: pre-line;
}
.employer {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.topEmployer {
  margin-left: 2rem;
  background-color: rgb(244, 244, 26);
  padding: 0.5rem;
  font-size: 0.8rem;
  font-weight: bold;
  border-radius: 0.7rem;
  cursor: pointer;
}

.topEmployer a {
  text-decoration: none;
  color: black;
}

.apply-button {
  padding: 1rem 2rem;
  border-radius: 1rem;
  border: none;
  font-size: 1.4rem;
  font-weight: bold;
  background-color: rgb(32, 209, 150);
  cursor: pointer;
  text-align: right;
}

.apply-button:hover {
  animation: waveColor 1s;
  animation-fill-mode: forwards;
}

@keyframes waveColor {
  0% {
    left: 0;
    background-color: rgb(32, 209, 150);
  }

  100% {
    right: 100%;
    background-color: rgb(7, 215, 49);
  }
}

.skill-level {
  display: flex;
  margin: 1rem 0;
}

.skill-level.long {
  justify-content: center;
  background-color: rgb(183, 197, 255);
  border-radius: 1rem;
  padding: 0.2rem;
  font-weight: bold;
  width: 67%;
  color: black;
}

.skill {
  font-size: 1.2rem;
  margin-right: 0.5rem;
}
